<app-item-detail
  class="modal"
  [ngStyle]="{'display': modalDisplay}"
  [item]="selectedItem"
  (click)="closeModal($event)"
  (closeModal)="closeModal($event)"
  (savedItem)=itemSaved($event);
>
</app-item-detail>
<app-item-new
  *ngIf="showForm"
  (newItem)="itemAdded($event)"
></app-item-new>
<button class="spaced" (click)="onToggleForm()">{{ buttonLabel }}</button>
<table>
  <thead>
    <tr>
      <th>Qty</th>
      <th>Description</th>
      <th>Vendor</th>
      <th>Requested</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td class="center-text">{{ item.quantity }}</td>
      <td>
        <span class="link" (click)="itemDetail(item)">{{ item.description }}</span>
      </td>
      <td>{{ item.vendorName }}</td>
      <td>{{ item.requestedOn | date: "MM/dd/yyyy" }}</td>
      <td><button (click)="onDelete(item)">Delete</button></td>
    </tr>
  </tbody>
</table>
