<app-item-search-detail
  class="modal"
  [ngStyle]="{'display': modalDisplay}"
  [item]=selectedItem
  (click)="closeModal($event)"
  (closeModal)="closeModal($event)"
>
</app-item-search-detail>
<app-item-search-entry
  (itemList)="itemsFound($event)"
></app-item-search-entry>
<h3 class="spaced center-text">{{ message }}</h3>
<table>
  <thead>
    <tr>
      <th>Qty</th>
      <th>Status</th>
      <th>Description</th>
      <th>Vendor</th>
      <th>Requested</th>
      <th>Ordered</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td class="center-text">{{ item?.quantity }}</td>
      <td>{{ item?.status }}
      <td>
        <span class="link" (click)="itemDetail(item)">{{ item?.description }}</span>
      </td>
      <td>{{ item?.vendorName }}</td>
      <td>{{ item?.requestedOn | date: "MM/dd/yyyy" }}</td>
      <td>{{ item?.orderedOn | date: "MM/dd/yyyy" }}</td>
    </tr>
  </tbody>
</table>
