<div class="modal-content" (click)="modalClicked($event)">
  <span
    class="close-modal"
    (click)="closeClicked()">&times;
  </span>
  <fieldset class="padded">
    <h3>View/Edit Item</h3>
    <form #form="ngForm">
      <div *ngIf="item">

        <div>
          <label class="one-sixth label-left" for="description">
            Description
          </label>
          <input
          class="five-sixths"
          type="text"
          id="description"
          name="description"
          required
          [(ngModel)]="item.description"
          >
        </div>

        <div class="one-half">
          <div>
            <label class="one-third label-left" for="quantity">
              Quantity
            </label>
            <input
              class="two-thirds"
              type="number"
              id="quantity"
              name="quantity"
              min=1
              required
              [(ngModel)]="item.quantity"
            >
          </div>
          <div>
            <label class="one-third label-left" for="requestedBy">
              Requested By
            </label>
            <input
              class="two-thirds"
              type="text"
              id="requestedBy"
              name="requestedBy"
              required
              [(ngModel)]="item.requestedBy"
            >
          </div>
          <div>
            <label class="one-third label-left" for="department">
              Department
            </label>
            <select
              class="two-thirds"
              type="text"
              id="department"
              name="department"
              required
              [(ngModel)]="item.department"
            >
              <option value="R+E">R+E</option>
              <option value="SBR">SBR</option>
              <option value="OEM">OEM</option>
              <option value="Paint">Paint</option>
              <option value="Frame">Frame</option>
            </select>
          </div>
          <div>
            <label class="one-third label-left" for="specialOrder">
              Special Order
            </label>
            <input
              type="radio"
              name="specialOrder"
              value="Yes"
              [(ngModel)]="item.specialOrder"
            >Yes
            <input
              type="radio"
              name="specialOrder"
              value="No"
              [(ngModel)]="item.specialOrder"
            >No<br>
          </div>
          <div>
            <label class="one-third label-left" for="customer">
              Customer
            </label>
            <input
              class="two-thirds"
              type="text"
              id="customer"
              name="customer"
              [(ngModel)]="item.customer"
            >
          </div>
        </div>

        <div class="one-half">
          <div>
            <label class="one-third label-left" for="vendor">
              Vendor
            </label>
            <input
              class="two-thirds"
              type="text"
              id="vendor"
              name="vendor"
              [(ngModel)]="item.vendor"
            >
          </div>
          <div>
            <label class="one-third label-left" for="partNumber">
              Part Number
            </label>
            <input
              class="two-thirds"
              type="text"
              id="partNumber"
              name="partNumber"
              [(ngModel)]="item.partNumber"
            >
          </div>
          <div>
            <label class="one-third label-left" for="cost">
              Cost
            </label>
            <input
              class="two-thirds"
              type="text"
              id="cost"
              name="cost"
              [(ngModel)]="item.cost"
            >
          </div>
          <div>
            <label class="one-third label-left" for="shipping">
              Shipping
            </label>
            <input
              class="two-thirds"
              type="text"
              id="shipping"
              name="shipping"
              [(ngModel)]="item.shipping"
            >
          </div>
          <div>
            <label class="one-third label-left" for="price">
              Price
            </label>
            <input
              class="two-thirds"
              type="text"
              id="price"
              name="price"
              [(ngModel)]="item.price"
            >
          </div>
          <div>
            <label class="one-third label-left" for="extendedCost">
              Extended Cost
            </label>
            <div class="two-thirds spaced" id="extendedCost">
              {{ item?.extendedCost() }}
            </div>
          </div>
          <div>
            <label class="one-third label-left" for="shippedCost">
              Shipped Cost
            </label>
            <div class="two-thirds spaced" id="shippedCost">
              {{ item?.costWithShipping() }}
            </div>
          </div>
          <div>
            <label class="one-third label-left" for="code">
              Code
            </label>
            <div class="two-thirds spaced" id="code">
              {{ item?.code() | number: "6.0-0" }}
            </div>
          </div>
        </div>
      </div>

      <button
        class="one-third right"
        [disabled]="form.invalid"
        (click)="updateClicked()"
      >
        Update Item
      </button>

    </form>
  </fieldset>
</div>
