<div class="modal-content" (click)="modalClicked($event)">
  <span
    class="close-modal"
    (click)="closeClicked()"
  >
    &times;
  </span>
  <fieldset class="padded">
    <h3 class="spaced">View/Edit Item</h3>
    <form #form="ngForm">
      <div *ngIf="item">

        <!-- description input and errors -->
        <div>
          <label class="one-sixth label-left" for="description">
            Description
          </label>
          <div class="five-sixths">
            <input
              type="text"
              id="description"
              name="description"
              required
              [(ngModel)]="item.description"
              autocomplete="off"
              #description="ngModel"
            >
            <div class="warning" *ngIf="description.touched && description.invalid">
              <p *ngIf="description.errors.required">
                Description is required
              </p>
            </div>
          </div>
        </div>

        <!-- first column -->
        <div class="one-half">

          <!-- quantity input and errors -->
          <div>
            <label class="one-third label-left" for="quantity">
              Quantity
            </label>
            <div class="two-thirds">
              <input
                [ngClass]="{'invalid': (item.quantity < 1)}"
                type="number"
                id="quantity"
                name="quantity"
                min=1
                required
                [(ngModel)]="item.quantity"
                autocomplete="off"
                #quantity="ngModel"
              >
              <div class="warning" *ngIf="quantity.touched && quantity.invalid">
                <p *ngIf="quantity.errors.required">
                  Quantity is required
                </p>
              </div>
              <div class="warning" *ngIf="item.quantity < 1">
                <p>
                  Quantity should be at least 1
                </p>
              </div>
            </div>
          </div>

          <!-- requestedBy input and errors -->
          <div>
            <label class="one-third label-left" for="requestedBy">
              Requested By
            </label>
            <div class="two-thirds">
              <input
                type="text"
                id="requestedBy"
                name="requestedBy"
                required
                [(ngModel)]="item.requestedBy"
                autocomplete="off"
                #requestedBy="ngModel"
              >
              <div class="warning" *ngIf="requestedBy.touched && requestedBy.invalid">
                <p *ngIf="requestedBy.errors.required">
                  Requested By is required
                </p>
              </div>
            </div>
          </div>

          <!-- department input and errors -->
          <div>
            <label class="one-third label-left" for="department">
              Department
            </label>
            <select
              class="two-thirds"
              type="text"
              id="department"
              name="department"
              required
              [(ngModel)]="item.department"
              autocomplete="off"
            >
              <option value="Sales">Sales</option>
              <option value="Service">Service</option>
              <option value="Shop Use">Shop Use</option>
            </select>
          </div>

          <!-- specialOrder input -->
          <div>
            <label class="one-third label-left" for="specialOrder">
              Special Order
            </label>
            <input
              type="radio"
              name="specialOrder"
              value="Yes"
              [(ngModel)]="item.specialOrder"
            >Yes
            <input
              type="radio"
              name="specialOrder"
              value="No"
              [(ngModel)]="item.specialOrder"
            >No<br>
          </div>

          <!-- customer input -->
          <div>
            <label class="one-third label-left" for="customer">
              Customer
            </label>
            <input
              class="two-thirds"
              type="text"
              id="customer"
              name="customer"
              [(ngModel)]="item.customer"
              autocomplete="off"
            >
          </div>
        </div>

        <!-- second column -->
        <div class="one-half">

          <!-- vendor input -->
          <div>
            <label class="one-third label-left" for="vendorName">
              Vendor
            </label>
            <input
              class="two-thirds"
              type="text"
              id="vendorName"
              name="vendorName"
              [(ngModel)]="item.vendorName"
              list="vendors"
              autocomplete="off"
            >
            <datalist id="vendors">
              <option *ngFor="let vendor of vendorList">
                {{ vendor }}
              </option>
            </datalist>
          </div>

          <!-- partNumber input -->
          <div>
            <label class="one-third label-left" for="partNumber">
              Part Number
            </label>
            <input
              class="two-thirds"
              type="text"
              id="partNumber"
              name="partNumber"
              [(ngModel)]="item.partNumber"
              autocomplete="off"
            >
          </div>

          <!-- cost input -->
          <div>
            <label class="one-third label-left" for="cost">
              Cost
            </label>
            <input
              class="one-third right-text"
              type="text"
              id="cost"
              name="cost"
              [ngModel]="item.cost | currency: symbol"
              (blur)="onCurrencyChange(cost, item)"
              autocomplete="off"
              #cost
            >
          </div>

          <!-- price input -->
          <div>
            <label class="one-third label-left" for="price">
              Price
            </label>
            <input
              class="one-third right-text"
              type="text"
              id="price"
              name="price"
              [ngModel]="item.price | currency: symbol"
              (blur)="onCurrencyChange(price, item)"
              autocomplete="off"
              #price
            >
          </div>

          <div class="two-thirds right">

            <!-- shipping field -->
            <div class="spaced">
              <label class="one-half label-left" for="shipping">
                Shipping per Item -
              </label>
              <div class="one-half" id="shipping">
                {{ item?.shipping | currency: symbol }}
              </div>
            </div>

            <!-- extendedCost field -->
            <div class="spaced">
              <label class="one-half label-left" for="extendedCost">
                Extended Cost -
              </label>
              <div class="one-half" id="extendedCost">
                {{ item?.extendedCost() | currency: symbol }}
              </div>
            </div>

            <!-- shippedCost field -->
            <div class="spaced">
              <label class="one-half label-left" for="shippedCost">
                Shipped Cost -
              </label>
              <div class="one-half" id="shippedCost">
                {{ item?.costWithShipping() | currency: symbol }}
              </div>
            </div>

            <!-- code.field -->
            <div class="spaced">
              <label class="one-half label-left" for="code">
                Code -
              </label>
              <div class="one-half" id="code">
                {{ item?.code() | priceCode }}
              </div>
            </div>

          </div>

        </div>
      </div>

      <button
        class="one-third right"
        [disabled]="form.invalid"
        (click)="updateClicked()"
      >
        Update Item
      </button>

    </form>
  </fieldset>
</div>
