<section>
  <h1 class="spaced">R+E Ordering</h1>
  <nav class="spaced">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/items">Want List</a></li>
      <li><a routerLink="/items/new">Add Item</a></li>
      <li><a routerLink="/orders/new">Place an Order</a></li>
      <li><a routerLink="/orders">Orders</a></li>
      <li><a routerLink="/vendors">Vendor List</a></li>
      <li><a routerLink="/vendors/new">Add Vendor</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</section>
