<section>
  <h1 class="spaced">Want List App</h1>
  <nav class="spaced">
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >
        Home
      </a>
      </li>
      <li>
        <a
          routerLink="/items"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >
        Want List
      </a>
      </li>
      <li>
        <a
          routerLink="/orders/new"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >
        Place an Order
      </a>
      </li>
      <li>
        <a
          routerLink="/items/find"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >
        Items
      </a>
      </li>
      <li>
        <a
          routerLink="/orders"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >
        Orders
      </a>
      </li>
      <li>
        <a
          routerLink="/vendors"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >
        Vendors
      </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</section>
