<fieldset class="padded">
  <h3 class="spaced">Add an Item</h3>
  <form (submit)="onSubmit(form)" #form="ngForm">

      <div>
        <!-- description input and errors -->
        <label class="one-sixth label-left" for="description">
          Description
        </label>
        <div class="five-sixths">
          <input
            type="text"
            id="description"
            name="description"
            required
            [(ngModel)]="item.description"
            autocomplete="off"
            #description="ngModel"
          >
          <div
            class="warning"
            *ngIf="description.touched && description.invalid"
          >
            <p *ngIf="description.errors.required">
              Description is required
            </p>
          </div>
        </div>
      </div>

      <!-- first column -->
      <div class="one-third">

        <!-- quantity input and errors -->
        <label class="one-half label-left" for="quantity">
          Quantity
        </label>
        <div class="one-half">
          <input
            [ngClass]="{'invalid': (item.quantity < 1)}"
            type="number"
            id="quantity"
            name="quantity"
            min=1
            required
            [(ngModel)]="item.quantity"
            autocomplete="off"
            #quantity="ngModel"
          >
          <div class="warning" *ngIf="quantity.touched && quantity.invalid">
            <p *ngIf="quantity.errors.required">
              Quantity is required
            </p>
          </div>
          <div class="warning" *ngIf="item.quantity < 1">
            <p>
              Quantity should be at least 1
            </p>
          </div>
        </div>

        <!-- requested by input and errors -->
        <div>
          <label class="one-half label-left" for="requestedBy">
            Requested By
          </label>
          <div class="one-half">
            <input
              type="text"
              id="requestedBy"
              name="requestedBy"
              required
              [(ngModel)]="item.requestedBy"
              autocomplete="off"
              #requestedBy="ngModel"
            >
            <div class="warning" *ngIf="requestedBy.touched && requestedBy.invalid">
              <p *ngIf="requestedBy.errors.required">
                Requested By is required
              </p>
            </div>
          </div>
        </div>

        <!-- department input and errors -->
        <div>
          <label class="one-half label-left" for="department">
            Department
          </label>
          <div class="one-half">
            <select
              type="text"
              id="department"
              name="department"
              required
              [(ngModel)]="item.department"
              autocomplete="off"
              #department="ngModel"
            >
              <option value="Sales">Sales</option>
              <option value="Service">Service</option>
              <option value="Shop Use">Shop Use</option>
            </select>
            <div class="warning" *ngIf="department.touched && department.invalid">
              <p *ngIf="department.errors.required">
                Department is required
              </p>
            </div>
          </div>
        </div>

      </div>

      <!-- second column -->
      <div class="one-third">

        <!-- vendor input -->
        <div>
          <label class="one-third label-left" for="vendorName">
            Vendor
          </label>
          <input
            class="two-thirds"
            type="text"
            id="vendorName"
            name="vendorName"
            [(ngModel)]="item.vendorName"
            list="vendors"
            autocomplete="off"
          >
          <datalist id="vendors">
            <option *ngFor="let vendor of vendorList">
              {{ vendor }}
            </option>
          </datalist>
        </div>

        <!-- part number input -->
        <div>
          <label class="one-third label-left" for="partNumber">
            Part Number
          </label>
          <input
            class="two-thirds"
            type="text"
            id="partNumber"
            name="partNumber"
            [(ngModel)]="item.partNumber"
            autocomplete="off"
          >
        </div>

        <!-- cost input -->
        <div>
          <label class="one-third label-left" for="cost">
            Cost
          </label>
          <input
            class="one-third right-text"
            type="text"
            id="cost"
            name="cost"
            [ngModel]="item.cost | currency: symbol"
            (blur)="onCurrencyChange(cost, item)"
            autocomplete="off"
            #cost
          >
        </div>

        <!-- price input -->
        <div>
          <label class="one-third label-left" for="price">
            Price
          </label>
          <input
            class="one-third right-text"
            type="text"
            id="price"
            name="price"
            [ngModel]="item.price | currency: symbol"
            (blur)="onCurrencyChange(price, item)"
            autocomplete="off"
            #price
          >
        </div>
      </div>

      <!-- third column -->
      <div class="one-third">

        <!-- specialOrder input -->
        <div>
          <label class="label-left" for="specialOrder">
            Special Order
          </label>
          <input
            type="radio"
            name="specialOrder"
            value="Yes"
            [(ngModel)]="item.specialOrder"
          >Yes
          <input
            type="radio"
            name="specialOrder"
            value="No"
            [(ngModel)]="item.specialOrder"
          >No<br>
        </div>

        <!-- customer input -->
        <div>
          <label class="one-third label-left" for="customer">
            Customer
          </label>
          <input
            class="two-thirds"
            type="text"
            id="customer"
            name="customer"
            [(ngModel)]="item.customer"
            autocomplete="off"
          >
        </div>

      </div>

    <button class="one-third right" [disabled]="form.invalid">Add Item</button>
  </form>
</fieldset>
