<fieldset class="padded">
  <h3 class="spaced">Add an Item</h3>
  <form (submit)="onSubmit(form)" #form="ngForm">

      <div>
        <label class="one-sixth label-left" for="description">
          Description
        </label>
        <input
          class="five-sixths"
          type="text"
          id="description"
          name="description"
          required
          [(ngModel)]="item.description"
          autocomplete="off"
        >
      </div>
      <div class="one-third">
        <div>
          <label class="one-half label-left" for="quantity">
            Quantity
          </label>
          <input
            class="one-half"
            type="number"
            id="quantity"
            name="quantity"
            min=1
            required
            [(ngModel)]="item.quantity"
            autocomplete="off"
          >
        </div>
        <div>
          <label class="one-half label-left" for="requestedBy">
            Requested By
          </label>
          <input
            class="one-half"
            type="text"
            id="requestedBy"
            name="requestedBy"
            required
            [(ngModel)]="item.requestedBy"
            autocomplete="off"
          >
        </div>
        <div>
          <label class="one-half label-left" for="department">
            Department
          </label>
          <select
            class="one-half"
            type="text"
            id="department"
            name="department"
            required
            [(ngModel)]="item.department"
            autocomplete="off"
          >
            <option value="R+E">R+E</option>
            <option value="SBR">SBR</option>
            <option value="OEM">OEM</option>
            <option value="Paint">Paint</option>
            <option value="Frame">Frame</option>
          </select>
        </div>
      </div>

      <div class="one-third">
        <div>
          <label class="one-third label-left" for="vendorName">
            Vendor
          </label>
          <input
            class="two-thirds"
            type="text"
            id="vendorName"
            name="vendorName"
            [(ngModel)]="item.vendorName"
            list="vendors"
            autocomplete="off"
          >
          <datalist id="vendors">
            <option *ngFor="let vendor of vendorList">
              {{ vendor }}
            </option>
          </datalist>
        </div>
        <div>
          <label class="one-third label-left" for="partNumber">
            Part Number
          </label>
          <input
            class="two-thirds"
            type="text"
            id="partNumber"
            name="partNumber"
            [(ngModel)]="item.partNumber"
            autocomplete="off"
          >
        </div>
        <div>
          <label class="one-third label-left" for="cost">
            Cost
          </label>
          <input
            class="one-third right-text"
            type="text"
            id="cost"
            name="cost"
            [ngModel]="item.cost | currency: symbol"
            (blur)="onCurrencyChange(cost)"
            autocomplete="off"
            #cost
          >
          <span class="one-third centered">
            {{ item.cost | currency: symbol }}
          </span>
        </div>
        <div>
          <label class="one-third label-left" for="price">
            Price
          </label>
          <input
            class="one-third right-text"
            type="text"
            id="price"
            name="price"
            [ngModel]="item.price | currency: symbol"
            (blur)=onCurrencyChange(price)
            autocomplete="off"
            #price
          >
          <span class="one-third centered">
            {{ item.price | currency: symbol }}
          </span>
        </div>
      </div>

      <div class="one-third">
        <div>
          <label class="label-left" for="specialOrder">
            Special Order
          </label>
          <input
            type="radio"
            name="specialOrder"
            value="Yes"
            [(ngModel)]="item.specialOrder"
          >Yes
          <input
            type="radio"
            name="specialOrder"
            value="No"
            [(ngModel)]="item.specialOrder"
          >No<br>
        </div>
        <div>
          <label class="one-third label-left" for="customer">
            Customer
          </label>
          <input
            class="two-thirds"
            type="text"
            id="customer"
            name="customer"
            [(ngModel)]="item.customer"
            autocomplete="off"
          >
        </div>
      </div>

    <button class="one-third right" [disabled]="form.invalid">Add Item</button>
  </form>
</fieldset>
