<div class="spaced">
  <h3>The problem</h3>
  <p>For many small retail businesses, standard ordering tools are integrated with point-of-sale (POS) systems. These systems are often automated to the point where flexibility is lost. For example, when retail businesses run out of seasonal items in their inventory, their POS system may automatically add the items to an order list. Rather than reorder items that are no longer in season, staff may want to place the items on sale and deplete their inventory to make way for new seasonally appropriate items. In addition, many POS systems require that staff enter every item that is in stock into the system, which can create a large amount of data overhead.</p>
</div>
<div class="spaced">
  <h3>The solution: The Want List app</h3>
  <p>The Want List app provides a more flexible and simpler way to add the items that you need to order. It's easy for new staff to use and can cover special-order items as well.</p>
</div>
<div class="spaced">
  <h3>How to use the Want List app</h3>
  <ul class="list">
    <li>To add, edit, and view items, use the <span class="bold">Want List</span> tab.</li>
    <li>To place orders, use the <span class="bold">Place an Order</span> tab. Note the items on the order may be edited during ordering.</li>
    <li>To search all items, use the <span class="bold">Items</span> tab.</li>
    <li>To view orders that have been placed, use the <span class="bold">Orders</span> tab</li>
    <li>To add, edit, and view vendors, use the <span class="bold">Vendors</span> tab.</li>
  </ul>
</div>
