<p class="spaced">
  This is a want list applilcation that keeps track of items that are wanted and allows orders to be placed.
</p>
<p class="spaced">
  The items can be added on the "Want List" tab and orders placed on the "Place an Order" tab. In order to make ordering easier, you can create vendors on the "Vendors" tab that will appear in the drop down list for the items that you are adding. Items can be edited prior to ordering on the "Want List" tab. Once ordered, the items are removed from the want list.
</p>
<p class="spaced">
  The "Items" tab allows for searching all items, both ordered and not ordered. Once items are found, their details may be viewed, but not edited on this tab. The "Orders" tab allows for viewing the orders sorted by purchase order number. The "Vendors" tab allows the vendors to be added, viewed, and edited.
</p>
