<fieldset class="padded">
  <form>
    <h3 class="spaced">PO Number - {{ order.poNumber }}</h3>

    <fieldset class="padded spaced">
      <p class="spaced">Vendor - {{ order.vendorName }}</p>

      <div class="one-half">
        <p>
          <span class="one-third label-left">Account Number</span>
          {{ vendor?.accountNum }}
        </p>
        <p>
          <span class="one-third label-left">Address</span>
          {{ vendor?.address }}
        </p>
        <p>
          <span class="one-third label-left">Phone</span>
          {{ vendor?.phone }}
        </p>
        <p>
          <span class="one-third label-left">Contact</span>
          {{ vendor?.contact }}
        </p>
        <p>
          <span class="one-third label-left">Email</span>
          {{ vendor?.email }}
        </p>
      </div>

      <div class="one-half">
        <p>
          <span class="one-third label-left">Web Address</span>
          {{ vendor?.webAddress }}
        </p>
        <p>
          <span class="one-third label-left">Sign On</span>
          {{ vendor?.webSignon }}
        </p>
        <p>
          <span class="one-third label-left">Password</span>
          {{ vendor?.webPassword }}
        </p>
        <p>
          <span class="one-third label-left">Notes</span>
          {{ vendor?.notes }}
        </p>
      </div>

    </fieldset>

    <div class="one-half">
      <label
        for="dateOrdered"
        class="one-third label-left"
      >
        Date Ordered
      </label>
      <input
        class="two-thirds"
        type="date"
        name="dateOrdered"
        id="dateOrdered"
        [ngModel]="order.dateOrdered | date: 'yyyy-MM-dd'"
        (blur)="onDateChange(dateOrdered, order)"
        autocomplete="off"
        required
        #dateOrdered
      >
      <label
        for="orderNumber"
        class="one-third label-left"
      >
        Order Number
      </label>
      <input
        class="two-thirds"
        type="text"
        name="orderNumber"
        id="orderNumber"
        [(ngModel)]="order.orderNumber"
        autocomplete="off"
      >
      <label
        for="shippingCost"
        class="one-third label-left"
      >
        Shipping Cost
      </label>
      <input
        class="one-third"
        type="text"
        name="shippingCost"
        id="shippingCost"
        [ngModel]="order.shippingCost | currency: symbol"
        (blur)="onCurrencyChange(shippingCost, order)"
        autocomplete="off"
        #shippingCost
      >
    </div>

    <div class="one-half">
      <label
        for="notes"
        class="one-third label-left"
      >
        Notes
      </label>
      <textarea
        class="two-thirds four-lines"
        name="notes"
        id="notes"
        [(ngModel)]="order.notes"
      ></textarea>
    </div>

    <button
      class="one-half spaced"
      (click)=completeOrder()
    >
      Order Complete
    </button>
    <!-- TODO: add ability to pend an order -->
    <!-- <button
      class="one-third spaced"
      (click)=pendOrder()
    >
      Pend Order
    </button> -->
    <button
      class="one-half spaced"
      (click)="cancelOrder()"
    >
      Cancel Order
    </button>

  </form>
  <table>
    <colgroup>
      <col style="width:8%">
      <col style="width:44%">
      <col style="width:24%">
      <col style="width:12%">
      <col style="width:12%">
    </colgroup>
    <thead>
      <tr>
        <th>Qty</th>
        <th>Description</th>
        <th>Part Number</th>
        <th>Cost</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items">
        <td class="center-text">
          <input
            type="number"
            name="quantity"
            [(ngModel)]="item.quantity"
            required
            (change)="onSaveItem(item)"
          >
        </td>
        <td>
          <input
            type="text"
            name="description"
            [(ngModel)]="item.description"
            required
            (change)="onSaveItem(item)"
          >
        </td>
        <td>
          <input
            type="text"
            name="partNumber"
            [(ngModel)]="item.partNumber"
            (change)="onSaveItem(item)"
          >
        </td>
        <td>
          <input
            class="right-text"
            type="text"
            name="cost"
            [ngModel]="item.cost | currency: symbol"
            (blur)="onCurrencyChange(cost, item)"
            #cost
          >
        </td>
        <td>
          <input
            class="right-text"
            type="text"
            name="price"
            [ngModel]="item.price | currency: symbol"
            (blur)="onCurrencyChange(price, item)"
            #price
          >
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
